* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header, #fakeHeader {
  position: relative;
  height: 60px;
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.26);
  display: flex;
  align-items: center;
  padding: 20px;
}
.pinte{
  padding: 10px;
}
.let{
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  padding: 15px;
  color: rgb(132, 136, 132);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pinte:hover,.let:hover,.inicio:hover,.sig:hover,.userT:hover,.userI:hover,.notifi:hover,.song:hover,.more:hover,.plus:hover{
  background-color: rgba(231, 224, 224, 0.699);
  border-radius: 100vmin;
  color: rgb(132, 136, 132); 
}

.search{
  height: 40px;
  width: 45vw;
  align-items: center;
  display: flex;
  background-color: rgba(231, 224, 224, 0.699);
  border-radius: 5px;
  padding: 15px;
  color: rgb(132, 136, 132);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inicio, .sig, .userT{
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  padding: 15px;
  color: rgb(132, 136, 132);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.userI,.notifi,.song,.more{
  opacity: 0.5;
  padding: 12px;

}
.plus{
  padding: 10px;
}


header {
  z-index: 1987;
}

#fakeHeader {
  height: 60px;
  position: fixed;
  top: -75px;
  opacity: 0;
  transition: all 1s ease;
  z-index: 1986;
}

#content {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 5px;
}

#searchbar, footer {
  display: none;
  transition: all 1s ease;
}

#searchbar {
  position: fixed;
  height: 45px;
  width: 100%;
  background-color: white;
  top: 0px;
  padding: 6px 15px;
}
#searchbar input {
  width: 100%;
  background-color: #5f5f5f7a;
  border-radius: 10px;
}
#searchbar.hide {
  top: -45px;
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: white;
  width: 100%;
  border-top: 1px solid rgba(40, 40, 40, 0.4);
  justify-content: space-between;
  padding: 0 15px;
}
footer.hide {
  bottom: -45px;
}
footer .btn {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}
footer .btn svg {
  width: 24px;
  height: 24px;
}
footer .btn svg path {
  fill: #5f5f5f;
}
footer .btn svg.pinterest path {
  fill: #E6001A;
}

.column {
  padding: 5px;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  justify-content: space-between;
}
.column .element {
  width: 100%;
  border-radius: 10px;
  margin: 5px 0;
  cursor: zoom-in;
}
.column .element img {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 375px) {
  #content {
    flex-flow: row wrap;
    margin-top: 45px;
  }

  .column {
    flex: 33.3%;
  }

  #searchbar, footer {
    display: flex;
    height: 45px;
  }

  header, #fakeHeader {
    display: none;
  }
}


/*# sourceMappingURL=style.css.map */
